body{
    background-color:beige;
    
}

.main-bg{
    background-image: url(image/wp8558471.webp);
    background-repeat: no-repeat;
    background-size: cover;
}

.navbar-toggler{
    background-color:#FABC19;
}
.main-color{
    background-color: rgba(0, 0, 0, 0.637);
}

.book-bg{
    background-color: rgba(0, 0, 0, 0.459);
}


.clients-image{
    background-image: url(image/client-bg);
    height: 100vh;
}

.clients-bg{
    background-color: rgba(0, 0, 0, 0.459);
    height: 100vh;
}

  .contain {
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
  }
  
  .item {
    align-items: center;
    background-color: tomato;
    color: white;
    display: flex;
    height: 300px;
    justify-content: center;
  }
  


.controller button{
    border: 0px;
}

/* fonts */
.title{
    color: #FABC19;
    font-family: "Sacramento", cursive;
    text-shadow: 2px 2px 5px #FABC19;
}


.title1{
    color: #FABC19;
}


/* hover effects */
.chef1.card:hover{
    background-color: #FABC19;
    scrollbar-width: 10px;
}

.chef2.card:hover{
    background-color: #fa3b19;
}
